<% viewer = current_user.present? ? current_user.name : 'Stranger' %>

<h2>Hello <%= viewer %>, Welcome to testProject</h2>

<div class="container">
  <h2>Projects#index</h2>
  <p>Find me in app/views/projects/index.html.erb</p>
</div>

